.list {
  list-style: none;
}

.text {
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
}

.good {
  composes: text;
  color: rgba(0, 128, 0, 0.811);
}

.neutral {
  composes: text;
  color: rgba(166, 205, 50, 0.997);
}

.bad {
  composes: text;
  color: rgba(255, 71, 71, 0.936);
}

.total {
  composes: text;
  color: rgb(0, 4, 255);
}

.positivePercentage {
  composes: text;
  color: rgba(200, 0, 255, 0.85);
}
